<main class="page-content">
    <div class="container-fluid">
        <h2>Multiple User Creation</h2>
        <hr />
        <div class="row">
            <div class="form col-md-12">
                <div class="col-md-10 my-2 py-2">
                    <form id="editProfileForm" onsubmit="return false;">
                        <div class="form-group mb-3 card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="form-text text-muted mb-0">User ID</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p id="userId" class="form-text">
                                            *Will Be Genrated By System
                                        </p>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="form-text text-muted mb-0">Csv File</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="file" id="csvfile" required />
                                    </div>
                                </div>

                                <button class="btn btn-info mr-1 mt-3" data-toggle="modal" data-target="#exampleModal" type="submit" id="create">
                                    Create
                                </button>
                                <button class="btn btn-secondary mt-3" id="cancel" type="reset">
                                    Reset
                                </button>
                            </div>
                        </div>

                        <!--<div class="card p-0" id="result">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                </thead>
                                <tbody id="newAccount"></tbody>
                            </table>
                        </div>-->
                    </form>
                </div>
            </div>
        </div>
        <hr />

        <footer class="text-center">
            <div class="mb-2">
                <small>
                    © 2021 made by -
                    <a target="_blank" rel="noopener noreferrer" href="https://www.ive.edu.hk/ivesite/html/tc/">
                        Ive Jai
                    </a>
                </small>
            </div>
        </footer>
    </div>

    <!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" style="color:lightskyblue" id="exampleModalLabel">Record Confirm</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
         
                <table class="table table-striped">
                    <thead>
                        <tr class="head">
                            <th class="text-dark" scope="col">#</th>
                            <th class="text-dark" scope="col">Name</th>
                            <th class="text-dark" scope="col">Role</th>
                        </tr>
                    </thead>
                    <tbody id="newAccount"></tbody>
                </table>
            </div>
        <div class="form-group">
        <div class="row">
            <h4 id="msg" class="form-text text-muted mb-0 ml-4">8 new records are created. 1 error is found
                </h6>
        </div>
        </div>
    </div>
    <div class="modal-footer">
        
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary sick" data-dismiss="modal">Confirm</button>
    </div>
  </div>
</div>
</div>

</main>

<style>
    .head th {
      color: rgb(17, 22, 39);
    }
  
    .head td {
      color: rgb(73, 119, 204);
    }
  </style>

<script>
    $(document).ready(function () {
        $("#msg").hide();
        $("#result").hide();
        var fileName = "";
        $("#editProfileForm").submit(function (e) {
            fileName = $("#csvfile").val().split('\\').pop();
            
        if (fileName == "accountRecord_error.csv") {
            $("#wrong").show();
            $("#msg").text("8 new records are created. 1 error is found");
        } else {
            $("#wrong").hide();
            $("#msg").text("8 new records are created.");
        }
            $("#msg").show();
            $("#result").show();
        })
        $("#academicYear").val(new Date().getFullYear());

        loadData1(
            "http://127.0.0.1/itp4506/Attendance-Online-Web/components/class/student-all.json"
        );

        function loadData1(url) {
            $.ajax(url, {
                dataType: "json",
                timeout: 500,
                success: function (data, status, xhr) {
                    students1 = data;
                    loadData("#newAccount", students1);
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    $("body").replace("Error: " + errorMessage);
                },
            });
        }
    });

    function loadData(tableName, students) {
        var result = "";
        var count = 0;
        $(students).each(function (index) {
            $(tableName).empty();
            count = index;
            result += `
            <tr class="head">
  <td scope="row">${index + 1}</td>
          <td>${this.firstname} ${this.lastname}</td>
          <td>
            Student
          </td>
          </tr>
            `;
        });
            result += `
            <tr id="wrong" class="head">
  <td scope="row">${count + 2}</td>
          <td><h4 style="color:red;">!</h4></td>
          <td>
            Student
          </td>
          </tr>
            `;
        $(tableName).append(result);
    }
</script>