<main class="page-content">
  <div class="container-fluid">
    <h2>Single User Creation</h2>

    <div classs="container p-5" id="successMsg">
      <div class="row no-gutters fixed-top mt-3 mr-3">
        <div class="col-lg-5 col-md-12 ml-auto">
          <div class="alert alert-primary fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span style="color: rgb(77, 114, 182);" aria-hidden="True">&times;</span>
            </button>
            <p style="color: rgb(77, 114, 182);" id="msg">This is an alert within a column. The column can be made any size at
              different viewpoints.</p>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="form col-md-12">
        <div class="col-md-10 my-2 py-2">
          <form id="createForm" onsubmit="return false;">
            <div class="form-group mb-3 card">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="form-text text-muted mb-0">Account Type</h6>
                  </div>
                  <div class="col-sm-6">
                    <select class="form-control select" title="availability" id="role">
                      <option class="form-control" value="admin">Admin</option>
                      <option class="form-control" value="teacher">Teacher</option>
                      <option class="form-control" value="student">Student</option>
                    </select>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="form-text text-muted mb-0">User ID</h6>
                  </div>
                  <div class="col-sm-6">
                    <p id="userId" class="form-text">
                      *Will Be Genrated By System
                    </p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-2">
                    <h6 class="form-text text-muted mb-0">Firstname</h6>
                  </div>
                  <div class="col-sm-4">
                    <input required type="text" class="form-control" name="firstName" id="firstName"
                      placeholder="e.g. Alan" />
                  </div>
                  <div class="col-sm-2">
                    <h6 class="form-text text-muted mb-0">Lastname</h6>
                  </div>
                  <div class="col-sm-3">
                    <input required type="text" class="form-control" name="lastName" id="lastName"
                      placeholder="e.g. Po" />
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-2">
                    <h6 class="form-text text-muted mb-0">Academic Year</h6>
                  </div>
                  <div class="col-sm-3">
                    <input id="academicYear" required type="number" class="form-control" name="academicYear"
                      placeholder="e.g. 2021" />
                  </div>
                </div>
                <hr />
                <button class="btn btn-info mr-1" id="createbtn" type="submit">
                  Create
                </button>
                <button class="btn btn-secondary" id="cancel" type="reset">
                  Reset
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <hr />

  </div>
  <footer class="text-center">
    <div class="mb-2">
      <small>
        © 2021 made by -
        <a target="_blank" rel="noopener noreferrer" href="https://www.ive.edu.hk/ivesite/html/tc/">
          Ive Jai
        </a>
      </small>
    </div>
  </footer>
  </div>


</main>

<script>
  $(document).ready(function () {

    $("#successMsg").hide();
    $("#academicYear").val(new Date().getFullYear());
    
    $("#createForm").submit(function () {
      $.ajax({
        type: "post",
        url: "http://127.0.0.1/itp4506/Attendance-Online-Server/admin/createAccount.php",
        data: {
          firstname: $("#firstName").val(),
          lastname: $("#lastName").val(),
          role: $("#role option:selected").val(),
        },
        success: function (data, status, xhr) {
            $("#msg").text("User created successfully with user ID: " + data);
            $("#successMsg").show();
            $("#firstName").val("");
            $("#lastName").val("");
        },
        error: function (jqXhr, textStatus, errorMessage) { },
      });
    });
  });
</script>