<main class="page-content">
    <div class="container-fluid">
        <h2>Multiple User Creation</h2>
        <hr />
        <div class="row">
            <div class="form col-md-12">
                <div class="col-md-10 my-2 py-2">
                    <form id="editProfileForm" onsubmit="return false;">
                        <div class="form-group col-md-12">
                            <p class="text-lg">
                                Please upload a CSV file to create multiple students account.
                            </p>
                        </div>
                        <div class="form-group mb-3 card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="form-text text-muted mb-0">Student List</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="file" id="csvfile" required />
                                    </div>
                                </div>
                                <hr />

                                <button class="btn btn-info mr-1" data-toggle="modal" data-target="#exampleModal"
                                    type="submit" id="create">
                                    Create
                                </button>
                                <button class="btn btn-secondary" id="cancel" type="reset">
                                    Reset
                                </button>
                            </div>
                        </div>

                        <!--<div class="card p-0" id="result">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                </thead>
                                <tbody id="newAccount"></tbody>
                            </table>
                        </div>-->
                    </form>
                </div>
            </div>
        </div>
        <hr />

        <footer class="text-center">
            <div class="mb-2">
                <small>
                    © 2021 made by -
                    <a target="_blank" rel="noopener noreferrer" href="https://www.ive.edu.hk/ivesite/html/tc/">
                        Ive Jai
                    </a>
                </small>
            </div>
        </footer>
    </div>

    <!-- modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color:lightskyblue" id="exampleModalLabel">Record Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <table class="table table-striped">
                            <thead>
                                <tr class="head">
                                    <th class="text-dark" scope="col">#</th>
                                    <th class="text-dark" scope="col">Name</th>
                                    <th class="text-dark" scope="col">Role</th>
                                </tr>
                            </thead>
                            <tbody id="newAccount"></tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <h4 id="msg" class="form-text text-primary mb-0 ml-4">8 new records are created. 1 error is
                                found
                                </h6>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary sick" data-dismiss="modal"
                        id="confirm">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="can">Cancel</button>

                </div>
            </div>
        </div>
    </div>

    <div classs="container p-5" id="successMsg">
        <div class="row no-gutters fixed-top mt-3 mr-3">
            <div class="col-lg-5 col-md-12 ml-auto">
                <div class="alert alert-primary fade show" role="alert">
                    <button type="button" class="close closeMsg" aria-label="Close">
                        <span style="color: rgb(77, 114, 182);" aria-hidden="True">&times;</span>
                    </button>
                    <p style="color: rgb(77, 114, 182);" id="msg">Successfully create users</p>
                </div>
            </div>
        </div>
    </div>
    <div classs="container p-5" id="failMsg">
        <div class="row no-gutters fixed-top mt-3 mr-3">
            <div class="col-lg-5 col-md-12 ml-auto">
                <div class="alert alert-danger fade show" role="alert">
                    <button type="button" class="close closeMsg" aria-label="Close">
                        <span style="color: rgb(184, 45, 45);" aria-hidden="True">&times;</span>
                    </button>
                    <p style="color: rgb(184, 45, 45);" id="msg">Failed to create users</p>
                </div>
            </div>
        </div>
    </div>
</main>

<style>
    .head th {
        color: rgb(17, 22, 39);
    }

    .head td {
        color: rgb(73, 119, 204);
    }
</style>

<script>
    $(document).ready(function () {

        $("#successMsg").hide();
        $("#failMsg").hide();
        $("#msg").hide();
        $("#result").hide();
        var fileName = "";

        $(".closeMsg").click(function () {
            $("#successMsg").hide();
            $("#failMsg").hide();
        })
        $("#confirm").click(function () {

            if (fileName == "accountRecord_error.csv") {
                $("#failMsg").show();
            } else if (fileName == "accountRecord.csv") {
                $("#successMsg").show();
            }
        });


        $("#editProfileForm").submit(function (e) {
            fileName = $("#csvfile").val().split('\\').pop();

            if (fileName == "accountRecord_error.csv") {

                $("#msg").text("Row at index # 9 is not valid. Please check the integrity of the data and create again.");
                result = `
            <tr class="head">
  <td scope="row">${9}</td>
          <td><h6 style="color:red;">!!Missing data!!</h6></td>
          <td>
            Student
          </td>
          </tr>
            `;
                $("#newAccount").empty().append(result);
            } else if (fileName == "accountRecord.csv") {
                $("#newAccount").empty()
                $("#msg").text("Total 8 record. please double confirm the correctness of the data.");
                loadData1("http://127.0.0.1/itp4506/Attendance-Online-Web/components/class/student-all.json");

            }
            $("#msg").show();
            $("#result").show();
        })
        $("#academicYear").val(new Date().getFullYear());


        function loadData1(url) {
            $.ajax(url, {
                dataType: "json",
                timeout: 500,
                success: function (data, status, xhr) {
                    students1 = data;
                    loadData("#newAccount", students1);
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    $("body").replace("Error: " + errorMessage);
                },
            });
        }
    });

    function loadData(tableName, students) {
        var result = "";
        var count = 0;
        $(students).each(function (index) {
            $(tableName).empty();
            count = index;
            result += `
            <tr class="head">
  <td scope="row">${index + 1}</td>
          <td>${this.firstname} ${this.lastname}</td>
          <td>
            Student
          </td>
          </tr>
            `;
        });
        $(tableName).append(result);
    }
</script>