<main class="page-content">
  <div class="container-fluid">
    <h2>Single User Creation</h2>
    <hr />
    <div class="row">
      <div class="form col-md-12">
        <div class="col-md-10 my-2 py-2">
          <form id="editProfileForm" method="post">
            <div class="form-group mb-3 card">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="form-text text-muted mb-0">Account Type</h6>
                  </div>
                  <div class="col-sm-6">
                    <select
                      class="form-control select"
                      title="availability"
                      id="role"
                    >
                      <option value="admin">Admin</option>
                      <option value="teacher">Teacher</option>
                      <option value="student">Student</option>
                    </select>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="form-text text-muted mb-0">User ID</h6>
                  </div>
                  <div class="col-sm-6">
                    <p id="userId" class="form-text">
                      *Will Be Genrated By System
                    </p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-2">
                    <h6 class="form-text text-muted mb-0">Firstname</h6>
                  </div>
                  <div class="col-sm-4">
                    <input
                      required
                      type="text"
                      class="form-control"
                      name="firstName"
                      id="firstName"
                      placeholder="e.g. Alan"
                    />
                  </div>
                  <div class="col-sm-2">
                    <h6 class="form-text text-muted mb-0">Lastname</h6>
                  </div>
                  <div class="col-sm-3">
                    <input
                      required
                      type="text"
                      class="form-control"
                      name="lastName"
                      id="lastName"
                      placeholder="e.g. Po"
                    />
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-2">
                    <h6 class="form-text text-muted mb-0">Academic Year</h6>
                  </div>
                  <div class="col-sm-3">
                    <input
                      id="academicYear"
                      required
                      type="number"
                      class="form-control"
                      name="academicYear"
                      placeholder="e.g. 2021"
                    />
                  </div>
                </div>
                <hr />
                <button class="btn btn-info mr-1" type="button" id="create">
                  Create
                </button>
                <button class="btn btn-secondary" id="cancel" type="reset">
                  Reset
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <hr />

    <footer class="text-center">
      <div class="mb-2">
        <small>
          © 2021 made by -
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.ive.edu.hk/ivesite/html/tc/"
          >
            Ive Jai
          </a>
        </small>
      </div>
    </footer>
  </div>
</main>

<script>
  $(document).ready(function () {
    $("#academicYear").val(new Date().getFullYear());
    $("#create").click(function () {
      $.ajax(
        "http://127.0.0.1/itp4506/Attendance-Online-Server/admin/createAccount.php",
        {
          method: "post",
          dataType: "json",
          timeout: 500,
          data: {
            firstname: $("#firstName").val(),
            lastname: $("#lastName").val(),
            $email: "abc@student.com.hk",
            $role: $('#role option:selected').val(),
          },
          success: function (data, status, xhr) {},
        }
      );
    });
  });
</script>
