<div class="page-content">
  <div class="container-fluid">
    <h2>Users List</h2>
    <hr />
    <div class="row gutters-sm">
      <div class="col-md-12 py-3">
        <div class="row justify-content-end">
          <select id="role" class="col-2 form-control mb-4 mr-3">
            <option value="*">All</option>
            <option value="admin">Admin</option>
            <option value="teacher">Teacher</option>
            <option value="student">Student</option>
          </select>
          <input class="col-3 form-control mb-4 mr-3" id="query" type="text" placeholder="Search here" />
        </div>
        <div class="card p-0">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Fiirst Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Role</th>
                <th scope="col">Availability</th>
                <th scope="col">Details</th>
              </tr>
            </thead>
            <tbody id="table"></tbody>
          </table>
        </div>
      </div>
    </div>
    <hr />
    <footer class="text-center">
      <div class="mb-2">
        <small>
          © 2021 made by -
          <a target="_blank" rel="noopener noreferrer" href="https://www.ive.edu.hk/ivesite/html/tc/">
            Ive Jai
          </a>
        </small>
      </div>
    </footer>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: lightskyblue;">Disable User?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="color: black;">
        Are you sure to disable the user?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirm">Confirm</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    var role = "*";
    var url =
      "http://127.0.0.1/itp4506/Attendance-Online-Server/admin/viewInformation.php";
    loadData(url, "*");
    $("#role").change(function () {
      role = $("#role option:selected").val();
      if (role == "*") {
        url =
          "http://127.0.0.1/itp4506/Attendance-Online-Server/admin/viewInformation.php";
        loadData(url, "*");
      } else {
        url =
          "http://127.0.0.1/itp4506/Attendance-Online-Server/getUserByRole.php";
        loadData(url, role);
      }
    });
    $("#query").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#table tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
      });
    });

    function loadData(url, role) {
      $("#table").empty();
      $.ajax(url, {
        method: "post",
        dataType: "json",
        timeout: 500,
        data: {
          role: role,
        },
        success: function (data, status, xhr) {
          var result = "";
          $(data).each(function (index) {
            /*result += `
            <tr>
          <th scope="row">${index + 1}</th>
          <td>${this.firstName}</td>
          <td>${this.lastName}</td>
          <td>${this.role}</td>
          <td>
              <input type="email" name="userID" value="${this.id}" hidden>
              <select class="form-control select" title="availability" id="availability-${this.id}">
                <option ${this.suspended ? "selected" : ""}>Enable</option>
                <option ${!this.suspended ? "selected" : ""}>Disabled</option>
              </select>

          </td>
          <td>
            <a class="btn btn-info" href="./user-detail.html?userId=${this.id}">
              <i class="far fa-address-card"></i>
            </a>
          </td>
          </tr>
            `;
          });*/
            if (this.suspended == 1) {
              $availability = "Enabled";
            } else {
              $availability = "Disabled";
            }
            result += `
            <tr>
          <th scope="row">${index + 1}</th>
          <td>${this.firstName}</td>
          <td>${this.lastName}</td>
          <td>${this.role}</td>
          <td>
            <form id="${this.id
              }" action="http://127.0.0.1/itp4506/Attendance-Online-Server/admin/accountStatus.php" method="post">
              <input type="email" name="userID" value="${this.id}" hidden>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-${this.id}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 `+ $availability + `
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#" class="enabled" name='${this.id}'">Enabled</a>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModal" class="disabled" name='${this.id}'>Disabled</a>
                </div>
              </div>
          </form>
          </td>
          <td>
            <a class="btn btn-info" href="./user-detail.html?userId=${this.id}">
              <i class="far fa-address-card"></i>
            </a>
          </td>
          </tr>
            `;
          });
          $("#table").append(result);

          var name = "";

          $("a").click(function () {
            name = $(this).prop('name');
            if($("#dropdownMenuButton-"+$(this).prop('name').trim()).text().trim() == "Disabled"){
              $("#dropdownMenuButton-"+$(this).prop('name').trim()).text("Enabled");
            }
          });

          $("#confirm").click(function () {
            $("#dropdownMenuButton-"+name).text("Disabled");
          });
        },
        error: function (jqXhr, textStatus, errorMessage) {
          $("body").replace("Error: " + errorMessage);
        },
      });
    }
  });
</script>