<main class="page-content">
  <div class="container-fluid">
    <h2>Profile</h2>
    <hr />
    <div class="row gutters-sm">
      <div class="col-md-4 my-2 py-2 auto-fit">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="../img/student-icon.png" alt="Admin" class="rounded-circle" width="150" />
              <div class="mt-3">
                <h4 id="name">Johnson Chong</h4>
                <p class="text-secondary mb-1" id="class">2B</p>
                <p class="text-secondary mb-1" id="role">Student</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row py-2">
          <div class="col">
            <a class="btn btn-info mr-1" href="#" id="edit">Edit Profile</a>
            <button class="btn btn-secondary" id="cancel" type="reset">
              Cancel
            </button>
            <h7 style="color: red;" id="errorMsg"></h7>
          </div>
        </div>
      </div>
      <div class="col-md-8 my-2 py-2">
        <form id="editProfileForm">
          <div class="form-group mb-3 card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="form-text text-muted mb-0">Student ID</h6>
                </div>
                <div class="col-sm-6">
                  <p id="userId" class="form-text">200373237</p>
                  <input class="form-control" name="userId" value="200373237" disabled hidden />
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="form-text text-muted mb-0">Email</h6>
                </div>
                <div class="col-sm-6">
                  <p id="email" class="form-text">200373237@stu.vtc.edu.hk</p>
                  <input class="form-control" name="email" value="200373237@stu.vtc.edu.hk" disabled hidden />
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="form-text text-muted mb-0">Mobile</h6>
                </div>
                <div class="col-sm-6">
                  <input class="form-control" id="mobile" name="mobile" value="+852 65867246" disabled />
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="form-text text-muted mb-0">Address</h6>
                </div>
                <div class="col-sm-6">
                  <textarea class="form-control" id="address" disabled>
IVE</textarea>
                </div>
              </div>
            </div>
          </div>
        </form>
        <form id="updatePwdForm">
          <div class="form-group mb-3 card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="form-text text-muted mb-0">Original Password</h6>
                </div>
                <div class="col-sm-6">
                  <input type="password" class="form-control" id="originalPwd" name="originalPwd" />
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="form-text text-muted mb-0">New Password</h6>
                </div>
                <div class="col-sm-6">
                  <input type="password" class="form-control" id="newPwd" name="newPwd" />
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="form-text text-muted mb-0">Comfirm Password</h6>
                </div>
                <div class="col-sm-6">
                  <input type="password" class="form-control" id="confirmPwd" name="confirmPwd" />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <h3>Class Record</h3>
    <div class="card p-0">
      <table class="table">
        <tbody id="classRecord">
        </tbody>
      </table>
    </div>
    <hr />
    <footer class="text-center">
      <div class="mb-2">
        <small>
          © 2021 made by -
          <a target="_blank" rel="noopener noreferrer" href="https://www.ive.edu.hk/ivesite/html/tc/">
            Ive Jai
          </a>
        </small>
      </div>
    </footer>
  </div>

  <div class="modal" id="editProfile" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="color:rgb(73, 119, 204)">Success</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p style="color: rgb(73, 119, 204);">Profile successfully changed</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</main>
<script>
  $(document).ready(function () {
    let searchParams = new URLSearchParams(window.location.search)
    var userId = searchParams.get('userId');
    var url = "http://127.0.0.1/ITP4506/Attendance-Online-Server/student";


    $.ajax({
      type: "post",
      url: url + "/viewPersonal.php",
      data: {
        id: userId,
      },
      success: function (data, status, xhr) {
        console.log(data);
        $("#userId").text(data[0].id);
        $("#mobile").val(data[0].mobile);
        $("#name").text(data[0].firstName + " " + data[0].lastName);
        $("#address").val(data[0].address);

        var result = "";
        if (data[0].role == "student") {
          result += `
          <tr>
            <th scope="col">#</th>
            <th scope="col">Academic Year</th>
            <th scope="col">Class</th>
            <th scope="col">Class Teacher</th>
          </tr>
          <tr>
            <td scope="col">1</td>
            <td scope="col">2021</td>
            <td scope="col">2B</td>
            <td scope="col">Ada Yuen</td>
            </tr>
            <tr>
            <td scope="col">2</td>
            <td scope="col">2020</td>
            <td scope="col">1B</td>
            <td scope="col">Ada Yuen</td>
            </tr>`;
          $("#classRecord").append(result);
        } else if ((data[0].role == "teacher")) {
          result += `
          <tr>
            <th scope="col">#</th>
            <th scope="col">Academic Year</th>
            <th scope="col">Class</th>
          </tr>
          <tr>
            <td scope="col">1</td>
            <td scope="col">2021</td>
            <td scope="col">2B</td>
            </tr>`;
          $("#classRecord").append(result);
        }
      },
      error: function (jqXhr, textStatus, errorMessage) {
      }
    });


    $("#cancel").hide();
    $("#updatePwdForm").hide();
    $("#edit").click(function () {
      if ($(this).text() == "Save") {
        $.post(url + "/editPersonal.php", { address: $("#address").val(), mobile: $("#mobile").val(), id: userId }, function (data) {
          console.log(data);
        }, "json");
        $(this).text("Edit Profile");
        $("#cancel").hide();
        $("#updatePwd").show();
        $('#editProfile').modal('show');
      } else {
        $(this).text("Save");
        $("#cancel").show();
        $("#updatePwd").hide();
      }
      form_control();
    });

    $("#updatePwd").click(function () {
      $("#editProfileForm").fadeOut(function () {
        $("#updatePwdForm").fadeIn();
      });

      // $("#editProfileForm").hide();
      if ($(this).text() == "Save") {
        $.post(url + "/editPassword.php", { currentPassword: $("#originalPwd").val(), newPassword: $("#newPwd").val(), confirmPassword: $("#confirmPwd").val(), userID: localStorage.getItem("id") }, function (data) {
          console.log(data[0].message);
          if (data[0].message == "success") {
            $("#originalPwd").val("");
            $("#newPwd").val("");
            $("#confirmPwd").val("");
            $("#updatePwd").text("Update Password");
            $("#cancel").hide();
            $("#edit").show();
            $("#updatePwdForm").fadeOut(function () {
              $("#editProfileForm").show();
            });
            $("#errorMsg").text("");
            alert("success");
          } else {
            $("#errorMsg").text("*Wrong password or Password not match");
          }
        }, "json");
      } else {
        $(this).text("Save");
        $("#cancel").show();
        $("#edit").hide();
      }
      form_control();
    });

    $("#cancel").click(function () {
      $(this).hide();
      $("#edit").text("Edit Profile");
      $("#edit").show();
      $("#updatePwd").text("Update Password");
      $("#updatePwd").show();
      $("#updatePwdForm").animate({ right: "250px" });
      $("#updatePwdForm").fadeOut(function () {
        $("#editProfileForm").show();
      });
      $("#errorMsg").text("");
      form_control();
    });

  });
  function form_control() {
    $("#editProfileForm .form-control").each(function () {
      $(this).prop("disabled", !$(this).prop("disabled"));
    });
  }
</script>