<main class="page-content">
    <div class="container-fluid">
      <h2>Attendance Online</h2>
      <hr />
      <div class="row">
        <div class="form-group col-md-12">
          學海無涯，回頭是岸。
        </div>
      </div>
      <hr />

      <footer class="text-center">
        <div class="mb-2">
          <small>
            © 2021 made by -
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://www.ive.edu.hk/ivesite/html/tc/"
            >
              Ive Jai
            </a>
          </small>
        </div>
      </footer>
    </div>
  </main>