<main class="page-content">
    <div class="container-fluid">
      <div class="row ">
        <div class="col text-left">
          <h3 id="quote" class="font-weight-bold"><h6 class="text-right" id="author"></h6></h3> 
        </div>
      </div>
      <hr />
      
      <div class="row">
        <div class="form-group col-md-12 text-center">
          <img src="../img/home-background.jpg" class="img-fluid"/>
        </div>
      </div>
      <hr />

      <footer class="text-center">
        <div class="mb-2">
          <small>
            © 2021 made by -
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://www.ive.edu.hk/ivesite/html/tc/"
            >
              Ive Jai
            </a>
          </small>
        </div>
      </footer>
    </div>
  </main>

  <script>
    $(document).ready(function(){
      $.get("https://quotes.rest/qod?category=students&language=en", function(data, status){
        $('#quote').text(data.contents.quotes[0].quote);
        $('#author').text(data.contents.quotes[0].author);
      })
    });
  </script>