<div class="page-content">
    <div class="container-fluid">
        <h2>Take Attendance</h2>
        <hr />
        <div class="row gutters-sm">
            <div class="col-md-12 py-3">
                <div class="row justify-content-end">
                    <input class="col-3 form-control mb-4 mr-3" id="query" type="text" placeholder="Search here" />
                </div>
                <div class="card p-0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Status</th>
                                <th scope="col">Remark</th>
                            </tr>
                        </thead>
                        <tbody id="attend"></tbody>
                    </table>
                </div>
                <div class="col-md-12 py-3">
                    <div class="row justify-content-end">
                        <a class="btn btn-info mr-1" href="#" id="cancel">Cancel</a>
                        <a class="btn btn-info mr-1" href="#" id="update">Update</a>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <footer class="text-center">
            <div class="mb-2">
                <small>
                    © 2021 made by -
                    <a target="_blank" rel="noopener noreferrer" href="https://www.ive.edu.hk/ivesite/html/tc/">
                        Ive Jai
                    </a>
                </small>
            </div>
        </footer>
    </div>
</div>

<!-- modal -->
<div class="modal fade" id="reasonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color:rgb(73, 119, 204)" id="exampleModalLabel">Personal Leave Reason</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" style="color:rgb(73, 119, 204)"
                            class="col-form-label">Reason:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="confirm" data-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var role = "*";
        var url =
            "http://127.0.0.1/itp4506/Attendance-Online-Server/admin/viewInformation.php";
        loadData(url, "*");
        $("#role").change(function () {
            role = $("#role option:selected").val();
            if (role == "*") {
                url =
                    "http://127.0.0.1/itp4506/Attendance-Online-Server/admin/viewInformation.php";
                loadData(url, "*");
            } else {
                url =
                    "http://127.0.0.1/itp4506/Attendance-Online-Server/getUserByRole.php";
                loadData(url, role);
            }
        });

        $("#query").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#table tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });

        $('#reasonModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            var modal = $(this)
        })

        function loadData(url, role) {
            $("#attend").empty();
            $.ajax(url, {
                method: "post",
                dataType: "json",
                timeout: 500,
                data: {
                    role: role,
                },
                success: function (data, status, xhr) {
                    var result = "";
                    $(data).each(function (index) {
                        result += `
              <tr>
            <th scope="row">${index + 1}</th>
            <td>${this.firstName}</td>
            <td>${this.lastName}</td>
            <td>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-${this.id}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Present 
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#" class="enabled" name='${this.id}'">Present</a>
                    <a class="dropdown-item" href="#" class="disabled" name='${this.id}'>Late</a>
                    <a class="dropdown-item" href="#" class="earlyleave" name='${this.id}'">Early Leave</a>
                    <a class="dropdown-item" href="#" class="sickleave" name='${this.id}'">Sick Leave</a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#reasonModal"  href="#" class="personalleave" name='${this.id}'">Personal Leave</a>
                    <a class="dropdown-item" href="#" class="absent" name='${this.id}'>Absent</a>
                  </div>
                </div>
            </td>
            <td id="remark-${this.id}"></td>
            </tr>
              `;
                    });
                    $("#attend").append(result);

                    var name = "";

                    $("a").click(function () {
                        name = $(this).prop('name');
                        $("#dropdownMenuButton-" + name).text($(this).text());
                    });

                    $("#update").click(function () {
                        $(".dropdown-toggle").css("background-color", "#555555");
                        $(".dropdown-toggle").css("color", "#333333");
                        $(".dropdown-toggle").attr("disabled", "disabled");
                    })

                    $("#cancel").click(function () {
                        $(".dropdown-toggle").css("background-color", "#6C757D");
                        $(".dropdown-toggle").css("color", "white");
                        $(".dropdown-toggle").prop("disabled", false);
                    })

                },
                error: function (jqXhr, textStatus, errorMessage) {
                    $("body").replace("Error: " + errorMessage);
                },
            });
        }
    });
</script>