<style>
  .scrollit {
    overflow: scroll;
    height: 300px;
  }
</style>

<main class="page-content">
  <div class="container-fluid">
    <h2>Class Info</h2>
    <hr />
    <div class="row">
      <div class="form col-md-12">
        <div class="col-md-10 my-2 py-2">
          <form id="editClassForm" onsubmit="return false;">
            <div class="form-group mb-3 card">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-2">
                    <h6 class="form-text text-muted mb-0">Class</h6>
                  </div>
                  <div class="col-sm-4">
                    <input
                      title="text"
                      id="className"
                      class="form-control"
                      required
                    />
                  </div>
                  <div class="col-sm-2">
                    <h6 class="form-text text-muted mb-0">Academic Year</h6>
                  </div>
                  <div class="col-sm-4">
                    <h6></h6>
                    <h6
                      id="academicYear"
                      class="form-text mb-0"
                      name="academicYear"
                    >2021</h6>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-2">
                    <h6 class="form-text text-muted mb-0">No Of Students</h6>
                  </div>
                  <div class="col-sm-4">
                    <h6>7</h6>
                  </div>
                  <div class="col-sm-2">
                    <h6 class="form-text text-muted mb-0">Teacher</h6>
                  </div>
                  <div class="col-sm-4">
                    <a
                      href="http://127.0.0.1/itp4506/Attendance-Online-Web/admin/user-detail.html?userId=201116523"
                      >Ada Yuen</a
                    >
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-2">
                    <h6 class="form-text text-muted mb-0">Note</h6>
                  </div>
                  <div class="col-sm-6">
                    <textarea
                      type="text"
                      class="form-control"
                      name="description"
                      id="description"
                      rows="2"
                      placeholder="Description of Class.."
                      required
                    >
Teaching language is Chinese, 3 SEN (Special Educational Needs) student in this class.,</textarea
                    >
                  </div>
                </div>
                <hr />

                <button class="btn btn-info mr-1" id="edit" type="submit">
                  Edit Class Info
                </button>
                <button class="btn btn-secondary" id="cancel" type="button">
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <h4>Student list</h4>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <div class="card p-0 scrollit">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Student ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Details</th>
              </tr>
            </thead>
            <tbody id="stu"></tbody>
          </table>
        </div>
      </div>
    </div>
    <hr />

    <footer class="text-center">
      <div class="mb-2">
        <small>
          © 2021 made by -
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.ive.edu.hk/ivesite/html/tc/"
          >
            Ive Jai
          </a>
        </small>
      </div>
    </footer>
  </div>

  <div classs="container p-5" id="successMsg">
    <div class="row no-gutters fixed-top mt-3 mr-3">
      <div class="col-lg-5 col-md-12 ml-auto">
        <div class="alert alert-primary fade show" role="alert">
          <button id="closeMsg" type="button" class="close" aria-label="Close">
            <span style="color: rgb(77, 114, 182)" aria-hidden="True"
              >&times;</span
            >
          </button>
          <p style="color: rgb(77, 114, 182)" id="msg">
            Class information successfully changed
          </p>
        </div>
      </div>
    </div>
  </div>
</main>

<script>
  $(document).ready(function () {
    var year;
    var classId;
    $("#successMsg").hide();
    $("#closeMsg").click(function () {
      $("#successMsg").hide();
    });

    let searchParams = new URLSearchParams(window.location.search);
    if (searchParams.has("classId")) {
      classId = searchParams.get("classId");
      let archived = searchParams.get("archived");
      $("#className").val(classId);
      year = searchParams.get("year");
      if (archived == "true") {
        $("#edit").hide();
      }
    } else {
      year = new Date().getFullYear();
    }
    if(localStorage.getItem("role") == "teacher"){
      $("#className").val("2B");
      year = new Date().getFullYear();
    }

    $("#cancel").hide();
    form_control();
    $("#academicYear").text(year);
    $("#edit").click(function () {
      if ($(this).text() == "Save") {
        if (
          $("#className").val().trim() != "" &&
          $("#description").val().trim() != ""
        ) {
          $(this).text("Edit Class Info");
          $("#cancel").hide();
          form_control();
          $("#successMsg").show();
        }
      } else {
        $(this).text("Save");
        $("#cancel").show();
        form_control();
      }
    });
    $("#cancel").click(function () {
      $(this).hide();
      $("#edit").text("Edit Class Info");
      $("#edit").show();
      form_control();
    });
  });

  function form_control() {
    $("#editClassForm .form-control").each(function () {
      $(this).prop("disabled", !$(this).prop("disabled"));
    });
  }
  loadData("http://127.0.0.1/itp4506/Attendance-Online-Server/getUserByRole.php", "student");
  function loadData(url, role) {
      $("#stu").empty();
      $.ajax(url, {
        method: "post",
        dataType: "json",
        timeout: 500,
        data: {
          role: role,
        },
        success: function (data, status, xhr) {
          var result = "";
          $(data).each(function (index) {
            result += `
            <tr>
          <th scope="row">${index + 1}</th>
          <td>${this.id}</td>
          <td>${this.firstName}</td>
          <td>${this.lastName}</td>
          <td>
            <a class="btn btn-info" href="./user-detail.html?userId=${this.id}">
              <i class="far fa-address-card"></i>
            </a>
          </td>
          </tr>
            `;
          });
          $("#stu").append(result);

          var name = "";

          $("a").click(function () {
            name = $(this).prop('name');
            if($("#dropdownMenuButton-"+$(this).prop('name').trim()).text().trim() == "Disabled"){
              $("#dropdownMenuButton-"+$(this).prop('name').trim()).text("Enabled");
            }
          });

          $("#confirm").click(function () {
            $("#dropdownMenuButton-"+name).text("Disabled");
          });
        },
        error: function (jqXhr, textStatus, errorMessage) {
          $("body").replace("Error: " + errorMessage);
        },
      });
      
    }
</script>
