<style>
  .scrollit {
    overflow: scroll;
    height: 300px;
  }
</style>

<main class="page-content">
  <div class="container-fluid">
    <h2>Class Allocation For Next Year</h2>
    <hr />
    <div class="row">
      <div class="form-group col-md-12">
        <div class="col-md-12 my-1 py-1">
          <form id="editClassForm">
            <div class="form-group mb-2 card">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-2">
                    <h6 class="form-text text-muted mb-0">Class</h6>
                  </div>
                  <div class="col-sm-3">
                    <h6 class="form-text mb-0">2A</h6>
                  </div>
                  <div class="col-sm-3">
                    <h6 class="form-text text-muted mb-0">Academic Year</h6>
                  </div>
                  <div class="col-sm-3">
                    <h6 class="form-text mb-0">2022</h6>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-2">
                    <h6 class="form-text text-muted mb-0">Description</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="form-text mb-0">
                      Teaching language is Chinese, 3 SEN (Special Educational Needs) student in this class.
                    </p>
                  </div>
                </div>
                <hr />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <h5>Student List</h5>
    <hr />
    <div class="row">
      <div class="col-md-6 py-1">
        <div class="row justify-content-end">
          <h6 class="col-md-2">All Student</h6>
          <div class="col">
            <select class="form-control" id="year">
              <option class="form-control" value="*">Year</option>
              <option class="form-control" value="1">1</option>
              <option class="form-control" value="2">2</option>
              <option class="form-control" value="3">3</option>
              <option class="form-control" value="4">4</option>
              <option class="form-control" value="5">5</option>
              <option class="form-control" value="6">6</option>
            </select>
          </div>
          <div class="col">
            <select class="form-control" id="class">
              <option class="form-control" value="*">Class</option>
              <option class="form-control" value="A">A</option>
              <option class="form-control" value="B">B</option>
              <option class="form-control" value="C">C</option>
              <option class="form-control" value="D">D</option>
              <option class="form-control" value="E">E</option>
            </select>
          </div>
          <input class="col form-control mb-4 mr-3" id="query" type="text" placeholder="Search here" />
        </div>
        <div class="card p-0 scrollit">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" class="select-all-1">Select All</th>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Current Class</th>
              </tr>
            </thead>
            <tbody id="table1"></tbody>
          </table>
        </div>
        <div class="row justify-content-end pt-3">
          <div class="col-sm-3">
            <button class="btn btn-info row" href="#" id="add-to-list">
              Add to list
            </button>
          </div>
          <button class="btn btn-secondary col-2 mb-4 mr-3" id="cancel" type="reset">
            Cancel
          </button>
        </div>
      </div>
      <div class="col-md-6 py-1">
        <div class="row justify-content-start">
          <h6 class="col-md-2 mb-4 mr-3">Waiting List</h6>
          <p class="col form-control mb-4 mr-3" hidden></p>
        </div>
        <div class="card p-0 scrollit">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" class="select-all-2">Select All</th>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Current Class</th>
              </tr>
            </thead>
            <tbody id="table2"></tbody>
          </table>
        </div>
        <div class="row justify-content-end pt-3">
          <button class="btn btn-success col-sm-4 mb-4 mr-3" id="allocate" type="button">
            Allocate to class
          </button>
          <div class="col-sm-4">
            <button class="btn btn-secondary row" href="#" id="remove-from-list">
              Remove From List
            </button>
          </div>
          
        </div>
      </div>
    </div>
    <hr />

    <div classs="container p-5" id="successMsg">
      <div class="row no-gutters fixed-top mt-3 mr-3">
        <div class="col-lg-5 col-md-12 ml-auto">
          <div class="alert alert-primary fade show" role="alert">
            <button id="closeMsg" type="button" class="close" aria-label="Close">
              <span style="color: rgb(77, 114, 182);" aria-hidden="True">&times;</span>
            </button>
            <p style="color: rgb(77, 114, 182);" id="msg">Allocated Successfully</p>
          </div>
        </div>
      </div>
    </div>

    <footer class="text-center">
      <div class="mb-2">
        <small>
          © 2021 made by -
          <a target="_blank" rel="noopener noreferrer" href="https://www.ive.edu.hk/ivesite/html/tc/">
            Ive Jai
          </a>
        </small>
      </div>
    </footer>
  </div>
</main>

<script>
  $(document).ready(function () {


    $("#query").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".attendList").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });

    $("#successMsg").hide();
    $("#closeMsg").click(function () {
      $("#successMsg").hide();
    })

    $("#allocate").click(function () {
      $("#table2").empty();
      $("#successMsg").show();


    });
    var students1 = [];
    var students2 = [];
    var indexes = [];

    loadData1(
      "http://127.0.0.1/itp4506/Attendance-Online-Web/components/class/student-all.json"
    );


    $("#add-to-list").click(function () {
      updateIndex(".form-check-input-1:checked");
      for (var i in indexes[0]) {
        students2.push(students1[indexes[0][i]]);
      }for (var i in indexes[0]) {
        students1.splice(indexes[0][i]-i, 1);
      }
      console.log(students1);
      loadData("#table1", "form-check-input-1", students1);
      loadData("#table2", "form-check-input-2", students2);
    });

    $("#remove-from-list").click(function () {
      updateIndex(".form-check-input-2:checked");
      for (var i in indexes[0]) {
        students1.push(students2[indexes[0][i]]);
        
      }
      for (var i in indexes[0]) {
        students2.splice(indexes[0][i]-i, 1);
      }
      loadData("#table1", "form-check-input-1", students1);
      loadData("#table2", "form-check-input-2", students2);
    });

    function updateIndex(name) {
      indexes = [];
      var trs = $(name).closest("tr");
      var index = $.map(trs, function (tr) {
        return $(tr).index();
      });
      indexes.push(index);
    }

    if ($("#year option:selected").val() == "*") {
      $("#class").prop("disabled", true);
    }

    $(".select-all-1").css("cursor", "pointer");
    $(".select-all-1").click(function () {
      $(".form-check-input-1").prop(
        "checked",
        !$(".form-check-input-1").prop("checked")
      );
    });
    $(".select-all-2").css("cursor", "pointer");
    $(".select-all-2").click(function () {
      $(".form-check-input-2").prop(
        "checked",
        !$(".form-check-input-2").prop("checked")
      );
    });
    function loadData1(url) {
      $.ajax(url, {
        dataType: "json",
        timeout: 500,
        success: function (data, status, xhr) {
          students1 = data;
          loadData("#table1", "form-check-input-1", students1);
        },
        error: function (jqXhr, textStatus, errorMessage) {
          $("body").replace("Error: " + errorMessage);
        },
      });
    }
    $("#class").change(function () {
      if ($("#class option:selected").val() == "*") {
        loadData1(
          "http://127.0.0.1/itp4506/Attendance-Online-Web/components/class/student-year1.json"
        );
      } else if ($("#class option:selected").val() == "B") {
        loadData1(
          "http://127.0.0.1/itp4506/Attendance-Online-Web/components/class/student-year1-b.json"
        );
      } else {
        loadData1(
          "http://127.0.0.1/itp4506/Attendance-Online-Web/components/class/student-year1-a.json"
        );
      }
    });

    $("#year").change(function () {
      if ($("#year option:selected").val() == "*") {
        $("#class").prop("disabled", true);
      } else {
        $("#class").prop("disabled", false);
      }
      if ($("#year option:selected").val() == "*") {
        loadData1(
          "http://127.0.0.1/itp4506/Attendance-Online-Web/components/class/student-all.json"
        );
      } else if ($("#year option:selected").val() == 1) {
        loadData1(
          "http://127.0.0.1/itp4506/Attendance-Online-Web/components/class/student-year1.json"
        );
      } else {
        loadData1(
          "http://127.0.0.1/itp4506/Attendance-Online-Web/components/class/student-year2.json"
        );
      }
    });
    function loadData(tableName, formName, students) {
      var result = "";
      $(tableName).empty();
      $(students).each(function (index) {
        result += `
            <tr class="attendList">
          <td><div class="form-group form-check">
    <input type="checkbox" class="${formName}" id="${this.index}">
  </div></td>
  <th scope="row">${index + 1}</th>
          <td>${this.firstname}</td>
          <td>${this.lastname}</td>
          <td>
            ${this.class}
          </td>
          </tr>
            `;
      });
      $(tableName).append(result);
    }
  });
</script>