<main class="page-content">
  <div class="container-fluid">
    <h2>Class Creation for Next Year</h2>
    <hr />
    <div class="row">
      <div class="form col-md-12">
        <div class="col-md-10 my-2 py-2">
          <form id="classCreateForm" onsubmit="return false;">
            <div class="form-group mb-3 card">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-2">
                    <h6 class="form-text text-muted mb-0">Class</h6>
                  </div>
                  <div class="col-sm-4">
                    <input id="className" type="text" class="form-control" name="className" placeholder="e.g. 2A"
                      required />
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-2">
                    <h6 class="form-text text-muted mb-0">Academic Year</h6>
                  </div>
                  <div class="col-sm-4">
                    <input id="academicYear" type="number" class="form-control" name="academicYear"
                      placeholder="e.g. 2021" required />
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-2">
                    <h6 class="form-text text-muted mb-0">Description</h6>
                  </div>
                  <div class="col-sm-6">
                    <textarea type="text" class="form-control" name="description" rows="3"
                      placeholder="Description of Class.." id="description" required></textarea>
                  </div>
                </div>
                <hr />

                <button class="btn btn-info" id="createConfirm" type="submit">Confirm</button>
                <button class="btn btn-secondary" id="cancelConfirm" type="reset">
                  Reset
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <hr />

    <footer class="text-center">
      <div class="mb-2">
        <small>
          © 2021 made by -
          <a target="_blank" rel="noopener noreferrer" href="https://www.ive.edu.hk/ivesite/html/tc/">
            Ive Jai
          </a>
        </small>
      </div>
    </footer>
  </div>
</main>
<div classs="container p-5" id="successMsg">
  <div class="row no-gutters fixed-top mt-3 mr-3">
      <div class="col-lg-5 col-md-12 ml-auto">
          <div class="alert alert-primary fade show" role="alert">
              <button id="closeMsg" type="button" class="close" aria-label="Close">
                  <span style="color: rgb(77, 114, 182);" aria-hidden="True">&times;</span>
              </button>
              <p style="color: rgb(77, 114, 182);" id="msg">New class is successfully created</p>
          </div>
      </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#successMsg").hide();
    $("#closeMsg").click(function(){
      $("#successMsg").hide();
    })

    $("#classCreateForm").submit(function () {          
      $("#successMsg").show();
      $("#className").val("");
      $("#description").val("");
    })

    $('#academicYear').val(new Date().getFullYear() + 1);
  });

</script>