<main class="page-content">
  <div class="container-fluid">
    <h2>Users</h2>
    <hr />
    <div class="col-md-12">
      <input
        class="col-md-3 form-control mb-3 ml-auto"
        id="query"
        type="text"
        placeholder="Search.."
      />
    </div>
    <div class="col-md-12">
      <div class="card rounded-0 p-0 shadow-sm">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Fiirst Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Age</th>
              <th scope="col">Role</th>
              <th scope="col">Availability</th>
              <th scope="col">Details</th>
            </tr>
          </thead>
          <tbody id="table">
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>asaas</td>
              <td><i class="fas fa-check"></i></td>
              <td>
                <a class="btn btn-info"><i class="far fa-file"></i></a>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>asaas</td>
              <td><i class="fas fa-check"></i></td>
              <td>
                <a class="btn btn-info"><i class="far fa-file"></i></a>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td>asaas</td>
              <td><i class="fas fa-times"></i></td>
              <td>
                <a class="btn btn-info"><i class="far fa-file"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr />
    <footer class="text-center">
      <div class="mb-2">
        <small>
          © 2021 made by -
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.ive.edu.hk/ivesite/html/tc/"
          >
            Ive Jai
          </a>
        </small>
      </div>
    </footer>
  </div>
</main>

<script>
  $(document).ready(function () {
    $("#query").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#table tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
      });
    });
  });
</script>
